USE [UAIStreamingDB]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 27/09/2024 21:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULA]    Script Date: 27/09/2024 21:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULA](
	[ID_PELICULA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[TITULO] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[ANIO_LANZAMIENTO] [numeric](18, 0) NOT NULL,
	[DURACION] [decimal](18, 0) NOT NULL,
	[CALIFICACION] [numeric](18, 0) NOT NULL,
	[FECHA_ALTA] [datetime] NOT NULL,
 CONSTRAINT [PK_PELICULA] PRIMARY KEY CLUSTERED 
(
	[ID_PELICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (1, N'Acción')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (2, N'Aventura')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (3, N'Terror')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[PELICULA] ON 

INSERT [dbo].[PELICULA] ([ID_PELICULA], [ID_CATEGORIA], [TITULO], [DESCRIPCION], [ANIO_LANZAMIENTO], [DURACION], [CALIFICACION], [FECHA_ALTA]) VALUES (2, 1, N'Spiderman', N'uncoeancoaencaoencaeonceac', CAST(2002 AS Numeric(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(N'2024-09-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PELICULA] ([ID_PELICULA], [ID_CATEGORIA], [TITULO], [DESCRIPCION], [ANIO_LANZAMIENTO], [DURACION], [CALIFICACION], [FECHA_ALTA]) VALUES (5, 2, N'Shrek 2', N'ipmepamicpieamflaeknmkfla', CAST(2002 AS Numeric(18, 0)), CAST(1 AS Decimal(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(N'2024-09-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PELICULA] ([ID_PELICULA], [ID_CATEGORIA], [TITULO], [DESCRIPCION], [ANIO_LANZAMIENTO], [DURACION], [CALIFICACION], [FECHA_ALTA]) VALUES (6, 1, N'Spiderman 2', N'vsrgrsrsvrdthgsregv', CAST(2004 AS Numeric(18, 0)), CAST(2 AS Decimal(18, 0)), CAST(5 AS Numeric(18, 0)), CAST(N'2024-09-27T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PELICULA] OFF
GO
ALTER TABLE [dbo].[PELICULA]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PELICULA] CHECK CONSTRAINT [FK_PELICULA_CATEGORIA]
GO
